
nav {
    padding: 15px 0 50px;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    display: block;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    float:right;
    position: relative;
    font-weight: bold;
    font-family: 'Courier New', Courier, Arial, monospace;
    border-radius: 5px;
    color: black;
    text-transform: uppercase;
    font-size: 110%;
}

nav .nav-title {
    float: left;
}

form {
    padding: 20px;
    padding-bottom: 200px;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #2B2C2E;;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 102%;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #FFF;
    padding: 20px;
    }

.container .contact {
    padding: unset;
    border: 1px dashed;

}
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: black;
}

nav a:hover, nav a.active {
    text-decoration: underline;
    text-underline-offset: 5px;
}

#subject {
    height: 200px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


.welcome-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url(../img/hero-background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 890px;
}

.portfolio, .about-box {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 20px;
    background-color: #fff;
    color: #444;
    justify-content: center;
  }

  .portfolio-item, .about-box > div:not(.about-description) {
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    height: 400px;
    background: url(../img/hero-background.jpg) no-repeat;
    background-size: cover !important;
    background-position: center;
  }


  .portfolio-item.one {
    background: url(../img/gallery/5cb862a89e669427e74dd1d2034c18ef.jpg) no-repeat;
  }

  .portfolio-item.two {
    background: url(../img/gallery/hej-its-her-com.webp) no-repeat;
  }

  .portfolio-item.three {
    background: url(../img/gallery/screencapture-ringly-2020-10-02-10_32_23-edit.webp) no-repeat;
  }

  .portfolio-item.four {
    background: url(../img/gallery/thai-restaurant-website-design-malaysia.webp) no-repeat;
  }


  .about-box .about-image {
    background: url(../img/gallery/about-me.jpg) no-repeat;
    background-size: cover;
  }

  section > * {
    justify-content: center;
    text-align: center;
  }

  .about-box {
    margin-bottom: 50px;
  }

  .about-description {
    background: none !important;
    color: black
  }
@media screen and (min-width: 800px) {
    .portfolio, .about-box {
        grid-template-columns: 40% 40%;
    }
}

/* apply style to tablet and desktop browsers */
@media screen and (min-width: 450px) {
    body, html {
        margin: 0;
        padding: 0 20px 0;
        min-height: 100vh;
        display: grid;
    }

    body:not(.top-content) {
        grid-template-rows: 1fr auto;
    }
}

/* apply style to medium mobile screens */
@media screen and (max-width: 415px) {
    nav a {
        padding: 8px;
        font-size: 90%;
    }
}

/* apply style to very small mobile screens */
@media screen and (max-width: 350px) {
    nav a {
        padding: 6px;
        font-size: 80%;
    }
}
