
nav {
    padding: 15px 0 50px;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    display: block;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    border: 1px solid lightgray;
    padding: 10px;
    float:right;
    position: relative;
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    font-family: 'Courier New', Courier, Arial, monospace;
    border-radius: 5px;
}

nav .nav-title {
    float: left;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 102%;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    }

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover, nav a:hover, nav a.active {
    background-color: #45a049;
}

#subject {
    height: 200px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


/* apply style to tablet and desktop browsers */
@media screen and (min-width: 450px) {
    body, html {
        margin: 0;
        padding: 0 20px 0;
    }
}

/* apply style to medium mobile screens */
@media screen and (max-width: 415px) {
    nav a {
        padding: 8px;
        font-size: 90%;
    }
}

/* apply style to very small mobile screens */
@media screen and (max-width: 350px) {
    nav a {
        padding: 6px;
        font-size: 80%;
    }
}
